<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpr6O7HvYcHCQfAZxFCbghe1afQabwggs</string>
	<key>GCM_SENDER_ID</key>
	<string>582503503384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mindmatrix.sheridancollege.ca.MindMatrix-iOS</string>
	<key>PROJECT_ID</key>
	<string>mindmatrix-b1530</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmatrix-b1530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582503503384:ios:58d04aaf7e1616c5dd556d</string>
</dict>
</plist>